@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Spicy+Rice&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  /* font-size: 14px; */
}

/* font English */
@font-face {
    font-family: jost;
    src: url(/asset/font/Eng/Jost-Regular.ttf);
}

/* font Khmer */
@font-face {
    font-family: Preahvihear;
    src: url(/asset/font/khmer/Preahvihear-Regular.ttf);
}


body {
    background-color: #edf2f9;
    font-family: "Poppins", sans-serif;

}

#avatar {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-right: 15px;
}

#avatar #avtadmin {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 1px solid rgb(12, 131, 170);
}

.sidebar {
    background-color: #edf2f9;
    height: 88vh;
    margin-top: 70px;
    margin-left: 20px;
    width: 220px !important;
    border-radius: 10px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    font-family: "Poppins", sans-serif;

}

.main-content {
    margin-left: 250px;
}

.text-addmin {
    font-family: "Spicy Rice", serif;
    font-size: 23px;
    font-weight: bold;
    color: rgb(5, 113, 207);
    margin: 0px !important;
}

.text-db {
    font-size: 23px;
    font-family: "Poppins", sans-serif;
}

#dashboardContent {
    margin-top: 50px;
}

#dashboardContent .row .col-md-3 .card {
    box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
    border: none;
}

#dashboardContent .card {
    box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
    border: none;
}

@media (max-width: 1200px) {
    .sidebar {
        margin-left: -250px;
        transition: 0.5s;
    }

    .sidebar.active {
        margin-left: 0;
    }

    .main-content {
        margin-left: 0;
    }
}

li::before {
    background-color: inherit;
}

.bg-primary {
    background: rgb(1, 75, 164);
    background: linear-gradient(110deg,
            rgba(1, 75, 164, 1) 0%,
            rgba(34, 170, 251, 1) 99%);
}

.bg-primarys {
    background: linear-gradient(118deg,
            rgba(53, 158, 231, 1) 0%,
            rgb(6, 103, 187) 99%);
}

#adminName,
#nameAd {
    font-family: jost, Preahvihear;
}

#adminName {
    font-weight: bold;
    font-size: 30px;
    color: #4899f0;
}

.welcome {
    color: rgb(67, 65, 65);
    font-weight: bold;
}

#dashboardContent {
    margin-right: 15px;
}

.btn-close-bar {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(191, 110, 110);
    color: white;
    margin-left: -10px;
}

#sidebarToggle {
    width: 30px;
    height: 30px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4899f0;
}

label {
    font-weight: 600;
    color: rgb(2, 88, 114);
}

.navbar.navbar-expand-lg {
    position: fixed;
    z-index: 99;
    width: 100%;
}

.bg-primary {
    --bs-bg-opacity: 1;
    background-color: inherit !important;
}

#dashboardContent table {
    border-radius: 6px;
    overflow: hidden;
}

.sidebar .nav .nav-item {
    border-radius: 5px;
}

#dashboardContent table tbody tr {
    border-top: 1px solid rgb(180, 216, 255);
}

.update-photo {

    border-radius: 50px 0 0 50px;
    width: 120px;
    height: 35px;
    display: flex;
    right: -90px;
    justify-content: center;
    align-items: center;
    background: rgb(73, 167, 249);
    bottom: 8px;
    color: white;
    transition: 0.5s;
}

.update-photo:hover {
    cursor: pointer;
    right: 0px;
}



.card {
    border-radius: 8px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.card-view:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.card-title {
    font-size: 1.1rem;
    font-weight: 600;
}

h2.card-text {
    font-size: 2rem;
    font-weight: bold;
    color: #007bff;
}

.text-muted {
    font-size: 0.9rem;
}

.icon-container {
    font-size: 1.5rem;
    color: #007bff;
    margin-right: 0.5rem;
}

.table thead th {
    font-size: 0.95rem;
    font-weight: 600;
    color: #818990;
}

.table tbody td {
    font-size: 0.9rem;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: #f9f9f9;
}

h2.card-text,
.card-title {
    transition: color 0.3s ease;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    overflow-y: auto;
    transition: width 0.3s;
}

.sidebar .nav-link {
    display: flex;
    align-items: center;
    border-radius: 5px;
    transition: 0.1s ease-in-out;
}


.sidebar .nav-link.active {
    background: linear-gradient(110deg,
            rgba(1, 75, 164, 1) 0%,
            rgba(34, 170, 251, 1) 99%);
    font-weight: bold;
}

.sidebar .nav-link i {
    font-size: 1.2rem;
    margin-right: 8px;
}


.sidebar .nav-link:hover {
    background: linear-gradient(110deg,
            rgba(1, 75, 164, 1) 0%,
            rgba(34, 170, 251, 1) 99%);
    color: #e0e0e0;
    font-weight: bold;
}

.sidebar .nav-link:hover i {
    transform: scale(1.1);
    color: #e0e0e0;
}
.cs{
    cursor: pointer;
}
.cs:hover{
    transform: scale(1.12);
}
.sec-title{
    color: rgba(1, 75, 164, 1);
    margin-left: 5px;
}