*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* font English */
@font-face {
    font-family: jost;
    src: url(/asset/font/Eng/Jost-Regular.ttf);
}
/* font Khmer */
@font-face {
    font-family: Preahvihear;
    src: url(/asset/font/khmer/Preahvihear-Regular.ttf);
}

#avatar{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 1px solid rgb(12, 131, 170);
}
#avatar #avtadmin{
    width: 100%;
    border-radius: 50%;
}
.sidebar {
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

.main-content {
    margin-left: 250px;
}

@media (max-width: 1200px) {
    .sidebar {
        margin-left: -250px;
    }

    .sidebar.active {
        margin-left: 0;
    }

    .main-content {
        margin-left: 0;
    }
}

li::before {
    background-color: inherit;
}

.bg-primary {
    background-color: rgb(16, 151, 205) !important;
}
#adminName{
    font-family: Preahvihear, jost;
}