<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <title>About - Personal Bootstrap Template</title>
    <meta name="description" content="" />
    <meta name="keywords" content="" />

    <!-- Favicons -->
    <link href="../assets/img/favicon.png" rel="icon" />
    <link href="../assets/img/apple-touch-icon.png" rel="apple-touch-icon" />

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com" rel="preconnect" />
    <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />

    <!-- Vendor CSS Files -->
    <link
      href="../assets/vendor/bootstrap/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="../assets/vendor/bootstrap-icons/bootstrap-icons.css"
      rel="stylesheet"
    />
  
    <!-- Main CSS File -->
    <!-- <link href="assets/css/main.css" rel="stylesheet" /> -->
    <link rel="stylesheet" href="../assets/vendor/bootstrap-icons/bootstrap-icons.css">
    <link rel="stylesheet" href="../assets/vendor/aos/aos.css">
    <link rel="stylesheet" href="../assets/css/main.css">
    <link rel="stylesheet" href="	https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
  </head>

  <body class="about-page">
    <header id="header" class="header d-flex align-items-center fixed-top">
      <div
        class="container-fluid container-xl position-relative d-flex align-items-center justify-content-between"
      >
        <a href="index.html" class="logo d-flex align-items-center">
          <h1 class="sitename" id="navbar_title">Personal</h1>
        </a>

        <nav id="navmenu" class="navmenu">
          <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="about.html" class="active">About</a></li>
            <li><a href="resume.html">Resume</a></li>
            <!-- <li><a href="services.html">Services</a></li> -->
            <li><a href="portfolio.html">Portfolio</a></li>

            <li><a href="contact.html">Contact</a></li>
          </ul>
          <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
        </nav>
      </div>
    </header>

    <main class="main">
      <!-- Page Title -->
      <div class="page-title" data-aos="fade">
        <div class="heading">
          <div class="container">
            <div class="row d-flex justify-content-center text-center">
              <div class="col-lg-8">
                <h1>About</h1>
                <p class="mb-0" id="about_title"></p>
              </div>
            </div>
          </div>
        </div>
        <nav class="breadcrumbs">
          <div class="container">
            <ol>
              <li><a href="index.html">Home</a></li>
              <li class="current">About</li>
            </ol>
          </div>
        </nav>
      </div>
      <!-- End Page Title -->

      <!-- About Section -->
      <section id="about" class="about section">
        <div class="container" data-aos="fade-up" data-aos-delay="100">
          <div class="row gy-4 justify-content-center">
            <div class="col-lg-4">
              <img id="about_img" class="img-fluid" alt="" />
            </div>
            <div class="col-lg-8 content">
              <h2 id="about_titleSkill">UI/UX Designer &amp; Web Developer.</h2>
              <p class="fst-italic py-3" id="en_about_subtitle">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua.
              </p>
              <div class="row">
                <div class="col-lg-6">
                  <ul>
                    <li>
                      <i class="bi bi-chevron-right"></i>
                      <strong>Name:</strong>
                      <span id="name_about">1 May 1995</span>
                    </li>
                    <li>
                      <i class="bi bi-chevron-right"></i>
                      <strong>Nationality:</strong> <span id="about_nation">www.example.com</span>
                    </li>
                    <li>
                      <i class="bi bi-chevron-right"></i>
                      <strong>Phone:</strong> <span id="about_phone">+123 456 7890</span>
                    </li>
                    <li>
                      <i class="bi bi-chevron-right"></i>
                      <strong>Email</strong> <span id="about_email">New York, USA</span>
                    </li>
                  </ul>
                </div>
                <div class="col-lg-6">
                  <ul>
                    <li>
                      <i class="bi bi-chevron-right"></i>
                      <strong>Address:</strong> <span id="about_address">30</span>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- /About Section -->

   

      <!-- Stats Section -->
      <section id="stats" class="stats section">
        <div class="container" data-aos="fade-up" data-aos-delay="100">
          <div class="row gy-4" id="awards">
         
          </div>
        </div>
      </section>
      <!-- /Stats Section -->

      <!-- Skills Section -->
      <section id="skills" class="skills section">
     
        <div class="container section-title" data-aos="fade-up">
          <h2>Skills</h2>
          <div>
            <span>My</span> <span class="description-title">Skills</span>
          </div>
        </div>
       

        <div class="container" data-aos="fade-up"  data-aos-delay="100">
          <div class="row skills-content skills-animation"  id="skill_progress">
          
          </div>
        </div>
      </section>

      <section id="software" class="skills section">
     
        <div class="container section-title" data-aos="fade-up">
          <h2>Software</h2>
          <div>
            <span>My</span> <span class="description-title">Software</span>
          </div>
        </div>
       

        <div class="container" data-aos="fade-up"  data-aos-delay="100">
          <div class="row skills-content skills-animation"  id="software_progress">
          
          </div>
        </div>
      </section>



      <section id="languages" class="skills section">
     
        <div class="container section-title" data-aos="fade-up">
          <h2>Language</h2>
          <div>
            <span>My</span> <span class="description-title">Language</span>
          </div>
        </div>
       

        <div class="container" data-aos="fade-up"  data-aos-delay="100">
          <div class="row skills-content skills-animation"  id="language_progress">
          
          </div>
        </div>
      </section>


      <!-- /Skills Section -->
    </main>

    <footer id="footer" class="footer dark-background">
      <div class="container">
        <div class="container">
          <div class="copyright">
            <span>Copyright</span>
            <strong class="px-1 sitename">Personal</strong>
            <span>All Rights Reserved</span>
          </div>
          <div class="credits">
            <!-- All the links in the footer should remain intact. -->
            <!-- You can delete the links only if you've purchased the pro version. -->
            <!-- Licensing information: https://bootstrapmade.com/license/ -->
            <!-- Purchase the pro version with working PHP/AJAX contact form: [buy-url] -->
            Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
          </div>
        </div>
      </div>
    </footer>

    <!-- Scroll Top -->
    <a
      href="#"
      id="scroll-top"
      class="scroll-top d-flex align-items-center justify-content-center"
      ><i class="bi bi-arrow-up-short"></i
    ></a>

    <script>
      function fetchAbout() {
        fetch("https://mps7.chandalen.dev/api/profile")
          .then((res) => {
            if (!res.ok) {
              throw new Error("Network response was not ok");
            }
            return res.json();
          })
          .then((json) => {
           // console.log(json); // Log the entire response for debugging

            if (json.result && json.data && json.data.profile) {
              const profile = json.data.profile;
              const Bio = json.data.bio;
              const social = json.data.social;

              const about_title = document.getElementById("about_title");
              about_title.innerHTML = Bio.en_about_bio;

              //about content

              const about_titleSkill =
                document.getElementById("about_titleSkill");
              about_titleSkill.innerHTML = Bio.en_about_title;

              const about_img = document.getElementById("about_img");
              about_img.src = profile.photo_about; // Set the src attribute instead of backgroundImage

              const en_about_subtitle =
                document.getElementById("en_about_subtitle");
              en_about_subtitle.innerHTML = Bio.en_about_sub_title;

              const name_about=document.getElementById("name_about");
              name_about.innerHTML =profile.en_first_name + " " + profile.en_last_name;

              const about_nation=document.getElementById("about_nation");
              about_nation.innerHTML =profile.en_nationality;

              const about_phone=document.getElementById("about_phone");
              about_phone.innerHTML =profile.en_phone;

              const about_email=document.getElementById("about_email");
              about_email.innerHTML =profile.email;

              const about_address=document.getElementById("about_address");
              about_address.innerHTML =profile.en_address;



              //document.getElementById("hero-section").innerHTML = About;
              // console.log(json.data);
            } else {
              console.error("No data found in the API response");
            }
          })
          .catch((error) => console.error("Error fetching data:", error));
      }

      // Call the function to fetch and display the data
      fetchAbout();
    </script>

    <!-- Vendor JS Files -->
    <script src="../assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- <script src="assets/vendor/php-email-form/validate.js"></script> -->
    <script src="../assets/vendor/aos/aos.js"></script>
    <script src="../assets/vendor/typed.js/typed.umd.js"></script>
    <script src="../assets/vendor/purecounter/purecounter_vanilla.js"></script>
    <script src="../assets/vendor/waypoints/noframework.waypoints.js"></script>
    <script src="../assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="../assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="../assets/vendor/imagesloaded/imagesloaded.pkgd.min.js"></script>
    <script src="../assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>

    <!-- Main JS File -->
    <script src="../assets/js/main.js"></script>


    <!-- <script src="assets/js/main.js"></script> -->
    <script src="../assets/js/about.js"></script>
    <script src="../assets/js/name.js"></script>
  </body>
</html>
